h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-secondary-400);
}

h1,
.fs-700 {
  font-size: var(--fs-700);
  letter-spacing: var(--l-sp-100);
}

h2,
.fs-600 {
  font-size: var(--fs-600);
  letter-spacing: var(--l-sp-200);
}

h3,
.fs-500 {
  font-size: var(--fs-500);
  letter-spacing: var(--l-sp-300);
}

h4,
.fs-400 {
  font-size: var(--fs-400);
  letter-spacing: var(--l-sp-300);
}

small,
.fs-200 {
  font-size: var(--fs-200);
}

.fs-100 {
  font-size: var(--fs-100);
}

.flx-col {
  display: flex;
  flex-direction: column;
}

.flx-rw {
  display: flex;
}

.flx-center {
  justify-content: center;
  align-items: center;
}

.icons {
  display: inline-block;
  color: var(--clr-neutral-900);
  height: 1em;
  aspect-ratio: 1 / 1;
  line-height: 1;
}

.icons-container {
  display: flex;
  align-items: center;

  .icon {
    color: inherit;
    margin-inline: 2px;
  }
}

.btn {
  display: inline-flex;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;

  font-family: var(--btn_ff);
  font-size: var(--btn_fs);
  border-radius: var(--btn_radius);
  padding: var(--btn_paddding);
  cursor: pointer;

  &:hover:not(:active) {
    filter: opacity(80%);
  }

  &:focus-visible {
    outline: 2px solid var(--clr-primary-300);
  }

  &--primary {
    @extend .btn;

    background-color: var(--btn_bg--primary);
    color: var(--btn_clr--primary);
    border: 0;

    &:visited {
      color: var(--btn_clr--primary);
    }

    &:active {
      background-color: var(--btn_bg--primary--active);
      color: var(--btn_clr--primary--active);
    }
  }

  &--secondary {
    @extend .btn;

    background-color: var(--btn_bg--secondary);
    color: var(--btn_clr--secondary);
    border: 0;

    &:visited {
      color: var(--btn_clr--secondary);
    }

    &:active {
      background-color: var(--btn_bg--secondary--active);
      color: var(--btn_clr--secondary--active);
    }
  }

  &--accent {
    @extend .btn;

    background-color: var(--btn_bg--accent);
    color: var(--btn_clr--accent);
    border: 0;

    &:visited {
      color: var(--btn_clr--accent);
    }

    &:active {
      background-color: var(--btn_bg--accent--active);
      color: var(--btn_clr--accent--active);
    }
  }

  &--accent-light {
    @extend .btn;

    background-color: var(--btn_bg--accent_light);
    color: var(--btn_clr--accent_light);
    border: 0;

    &:visited {
      color: var(--btn_clr--accent_light);
    }

    &:active {
      background-color: var(--btn_bg--accent_light--active);
      color: var(--btn_clr--accent_light--active);
    }
  }

  &[disabled] {
    cursor: not-allowed;
    box-shadow: none;
    border: 0;
  }
}

.checkbox-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 
 * Input Styles
 */

.input-container {
  --pd-top: 24px;
  --pd-inline: 10px;
  --pd-bottom: 12px;

  --ad-label-help: 500ms;
  --ad-label-show: 200ms;

  /* --clr-semantic_invalid-400: var(--clr-semantic_invalid-400); */
  /* --clr-semantic_invalid-100: var(--clr-semantic_invalid-100); */
  /**/
  /* --clr-semantic_valid-400: var(--clr-semantic_valid-400); */
  /* --clr-semantic_valid-100: var(--clr-semantic_valid-100); */

  --clr-valid-dark: var(--clr-semantic_valid-500);
  --clr-valid-light: var(--clr-semantic_valid-100);

  --clr-invalid-dark: var(--clr-semantic_invalid-400);
  --clr-invalid-light: var(--clr-semantic_invalid-100);

  --clr-primary: var(--clr-primary-400);

  display: flex;
  flex-direction: column;
  overflow: hidden;

  position: relative;

  &__input {
    padding: var(--pd-top) var(--pd-inline) var(--pd-bottom);
    box-sizing: border-box;
    font-size: var(--fs-base);
    outline: none;
    border: 1px solid var(--clr-neutral-200);
    margin-bottom: var(--sp-300);
    resize: none;

    &::placeholder {
      color: var(--clr-neutral-400);
    }

    &:focus::placeholder {
      color: transparent;
    }

    &:focus {
      &:valid {
        border: 2px solid var(--clr-valid-dark);

        &:placeholder-shown {
          border: 2px solid var(--clr-primary);
        }
      }

      &:invalid {
        border: 2px solid var(--clr-invalid-dark);
      }
    }

    &:not(:focus):not(:placeholder-shown) {
      &:invalid {
        background-color: var(--clr-invalid-light);
        border: 2px solid var(--clr-invalid-dark);
      }

      &:valid {
        background-color: var(--clr-valid-light);
        border: 2px solid var(--clr-valid-dark);
      }
    }

    /*
		 * Specific label styles
		 */

    &:focus + label,
    &:not(:placeholder-shown):not(:focus) + label {
      animation-name: slide-in;
      animation-duration: var(--ad-label-show);
      animation-fill-mode: forwards;
      z-index: 100;
    }

    &:invalid {
      & + label {
        color: var(--clr-invalid-dark);
      }

      &:not(:placeholder-shown) + label::after,
      &:focus + label::after {
        content: ' ' attr(data-help);
        opacity: 0;
        animation-name: appear;
        animation-duration: var(--ad-label-help);
        animation-fill-mode: forwards;
      }

      &:focus + label::after {
        animation-delay: 2s;
      }

      &:not(:focus):not(:placeholder-shown) + label::after {
        animation-delay: 0s;
      }
    }

    &:valid + label {
      color: var(--clr-valid-dark);
    }

    &:valid:placeholder-shown + label {
      color: var(--clr-primary);
    }
  }

  &__label {
    font-size: 12px;
    position: absolute;
    left: var(--pd-inline);
    padding-top: calc(var(--pd-inline) / 2);

    z-index: 200;
    transform: translateY(-100%);
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*
 * Checkbox list Items
 */

.checkbox-list {
  & button[aria-label='edit'] {
    font-size: var(--fs-base);
    border: 0;
    background-color: transparent;
    color: var(--clr-neutral-800);
    cursor: pointer;
  }
}

.switchbox {
  --pd-container: 2px;
  --br-container: 50px;
  --ht-container: calc(1rem - var(--pd-container) * 2);
  --wd-container: calc(var(--ht-container) * 1.8);
  --bg-container--checked: var(--clr-primary-400);
  --bg-container--unchecked: var(--clr-neutral-200);
  --shadow-container--unchecked: 0 0 2px var(--clr-neutral-400);

  --bg-circle: var(--clr-neutral-100);
  --shadow-circle: 0 0 5px var(--clr-neutral-800);

  position: relative;
  appearance: none;
  width: var(--wd-container);
  height: var(--ht-container);
  background-color: var(--bg-container--unchecked);
  border-radius: var(--br-container);
  box-shadow: var(--shadow-container--unchecked);
  cursor: pointer;

  box-sizing: content-box;
  padding: var(--pd-container);

  transition:
    background-color var(--td-100) ease,
    box-shadow var(--td-100) ease;

  &::before {
    content: '';
    position: absolute;
    aspect-ratio: 1 / 1;
    height: var(--ht-container);
    border-radius: 50%;
    background-color: var(--bg-circle);
    box-shadow: var(--shadow-circle);

    transition: transform var(--td-100) ease-out;
  }

  &:checked {
    background-color: var(--bg-container--checked);

    &::before {
      transform: translateX(calc(var(--wd-container) - var(--ht-container)));
    }
  }
}

.strikethrough-checkbox-label--ps_before {
  --clr-strikethrough: var(--clr-neutral-300);

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-200);

  input[type='checkbox'] + * {
    position: relative;
    transition: color var(--td-100) ease;

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      width: 100%;
      height: 1px;
      transform: scaleX(0);
      transform-origin: left;
      background-color: var(--clr-strikethrough);

      transition: transform var(--td-100) ease;
    }
  }

  input[type='checkbox']:not(:checked) + * {
    color: var(--clr-strikethrough);

    &::before {
      transform: scaleX(1);
    }
  }
}

.icn-container--fade-in {
  position: relative;

  &__icn {
    --td-100: 200ms;

    position: absolute;
    right: -10px;
    top: -5px;
    aspect-ratio: 1 / 1;
    width: 0.9rem;

    opacity: 0;
    transform: translateX(0) rotateY(65deg);
    perspective: 50px;

    transition:
      transform var(--td-100) ease,
      opacity var(--td-100) ease;
  }

  &:hover &__icn {
    transform: translateX(70%) rotateY(0deg);
    opacity: 1;
  }
}
