h1,
.fs-700 {
  font-size: var(--fs-700);
  letter-spacing: var(--l-sp-100);
}

h2,
.fs-600 {
  font-size: var(--fs-600);
  letter-spacing: var(--l-sp-200);
}

h3,
.fs-500 {
  font-size: var(--fs-500);
  letter-spacing: var(--l-sp-300);
}

h4,
.fs-400 {
  font-size: var(--fs-400);
  letter-spacing: var(--l-sp-300);
}

small,
.fs-200 {
  font-size: var(--fs-200);
}

.fs-100 {
  font-size: var(--fs-100);
}

.flx-col {
  display: flex;
  flex-direction: column;
}

.flx-rw {
  display: flex;
}

.flx-center {
  justify-content: center;
  align-items: center;
}

.icons {
  display: inline-block;
  color: var(--clr-neutral-900);
  height: 1em;
  aspect-ratio: 1 / 1;
  line-height: 1;
}

.icons-container {
  display: flex;
  align-items: center;

  .icon {
    color: inherit;
    margin-inline: 2px;
  }
}

.btn {
  display: inline-flex;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;

  font-size: var(--btn-fs);
  border-radius: var(--btn-radius);
  padding: var(--sp-100) var(--sp-100);
  cursor: pointer;

  &:focus {
    outline: 1px solid var(--clr-neutral-500);
  }

  &--primary {
    @extend .btn;
    border: var(--btn--primary-border);
  }

  &--secondary {
    @extend .btn;
  }

  &--accent {
    @extend .btn;
  }

  &[disabled] {
    cursor: not-allowed;
    box-shadow: none;
  }
}
