@use 'sass:color' as c;

@import url('../assets/inter-webfont/stylesheet.css');
@import url('../assets/spacemono-webfont/web-fonts/spacemono-main.css');
@import url('../assets/source-sans-pro-webfont/stylesheet.css');

$ff-inter-Regular: 'Inter-Regular', sans-serif;
$ff-inter-Bold: 'Inter-Bold', sans-serif;
$ff-inter-SemiBold: 'Inter-SemiBold', sans-serif;
$ff-inter-Medium: 'Inter-Medium', sans-serif;
$ff-inter-Light: 'Inter-Light', sans-serif;
$ff-inter-ExtraLight: 'Inter-ExtraLight', sans-serif;
$ff-inter-Thin: 'Inter-Thin', sans-serif;

$ff-source_sans-Regular: 'source_sans_proregular', sans-serif;
$ff-source_sans-Bold: 'source_sans_probold', sans-serif;
$ff-source_sans-SemiBold: 'source_sans_semibold', sans-serif;
$ff-source_sans-Light: 'source_sans_prolight', sans-serif;
$ff-source_sans-ExtraLight: 'source_sans_proextralight', sans-serif;

$ff-spacemono-Regular: 'space_monoregular', monospace;
$ff-spacemono-Bold: 'space_monobold', monospace;

$dark-blue: oklch(20.94% 0.0133 204.69);
$green: oklch(89.5% 0.20970256696719095 144.2306789218844);
$red: oklch(44.99% 0.1366 21.88);
$orange: oklch(82.05% 0.1633 85.99);
$purple: oklch(58.1% 0.0765 346.24);

$primary: $dark-blue;
$accent: $purple;

$valid: $green;
$invalid: $red;
$warning: $orange;

:root {
  /* --------------------------------

  Colors

  -------------------------------- */

  --clr-neutral-900: #000;
  --clr-neutral-800: #202020;
  --clr-neutral-700: #3b3b3b;
  --clr-neutral-600: #585858;
  --clr-neutral-500: #767676;
  --clr-neutral-400: #969696;
  --clr-neutral-300: #b7b7b7;
  --clr-neutral-200: #dadada;
  --clr-neutral-100: #fdfdfd;

  --clr-primary-200: #{c.adjust($primary, $lightness: 70%, $space: oklch)};
  --clr-primary-300: #{c.adjust($primary, $lightness: 10%, $space: oklch)};
  --clr-primary-400: #{$primary};

  --clr-accent-300: #{c.adjust($accent, $lightness: 50%, $space: oklch)};
  --clr-accent-400: #{$accent};
  --clr-accent-500: #{c.adjust($accent, $lightness: -30%, $space: oklch)};

  /* Feedback Colors */
  --clr-semantic_valid-400: #{$valid};
  --clr-semantic_valid-100: #{c.adjust(
      $valid,
      $chroma: -30%,
      $lightness: 10%,
      $space: oklch
    )};

  --clr-semantic_invalid-400: #{$invalid};
  --clr-semantic_invalid-100: #{c.adjust(
      $invalid,
      $lightness: 70%,
      $space: oklch
    )};

  --clr-semantic_warning-400: #{$warning};
  --clr-semantic_warning-100: #{c.adjust(
      $warning,
      $chroma: -15%,
      $lightness: 10%,
      $space: oklch
    )};

  /* --------------------------------

  Font Family

  -------------------------------- */

  --ff-primary-400: #{$ff-inter-Regular};
  --ff-primary-700: #{$ff-inter-Bold};
  --ff-secondary-400: #{$ff-spacemono-Regular};
  --ff-secondary-700: #{$ff-spacemono-Bold};

  /* --------------------------------

  Font Size

  -------------------------------- */

  --fs-base: 16px;
  --fs-ratio: 1.25;
  --fs-100: calc(1em / (var(--fs-ratio) * var(--fs-ratio)));
  --fs-200: calc(1em / var(--fs-ratio));
  --fs-300: calc(1em * var(--fs-ratio));
  --fs-400: calc(1em * var(--fs-ratio) * var(--fs-ratio));
  --fs-500: calc(1em * var(--fs-ratio) * var(--fs-ratio) * var(--fs-ratio));
  --fs-600: calc(
    1em * var(--fs-ratio) * var(--fs-ratio) * var(--fs-ratio) * var(--fs-ratio)
  );
  --fs-700: calc(
    1em * var(--fs-ratio) * var(--fs-ratio) * var(--fs-ratio) * var(--fs-ratio) *
      var(--fs-ratio)
  );

  /* --------------------------------

  Space

  -------------------------------- */

  /* Fibonacci Sequence */
  --sp-base: 16px;
  --sp-100: calc(0.25 * var(--sp-base));
  --sp-200: calc(0.5 * var(--sp-base));
  --sp-300: calc(0.75 * var(--sp-base));
  --sp-400: calc(1.25 * var(--sp-base));
  --sp-500: calc(2 * var(--sp-base));
  --sp-600: calc(3.25 * var(--sp-base));
  --sp-700: calc(5.25 * var(--sp-base));

  /* --------------------------------

  Line Height

  -------------------------------- */

  --lh-body: 1.15em;
  --lh-heading: 0.95em;

  /* --------------------------------

  letter Space

  -------------------------------- */

  --l-sp-base: 1px;
  --l-sp-100: calc(var(--l-sp-base) - 3.5px);
  --l-sp-200: calc(var(--l-sp-base) - 3px);
  --l-sp-300: calc(var(--l-sp-base) - 2px);
  --l-sp-400: calc(var(--l-sp-base) - 1.5px);
  --l-sp-500: calc(var(--l-sp-base) - 1px);

  /* --------------------------------

  Icons

  -------------------------------- */

  --icn-size-100: 16px;
  --icn-size-200: 24px;
  --icn-size-300: 32px;
  --icn-size-400: 48px;
  --icn-size-500: 64px;

  /* --------------------------------

  Buttons

  -------------------------------- */

  --btn-fs: 1rem;
  --btn-radius: 5px;

  --btn--primary-border: 2px solid var(--clr-primary-500);

  /* --------------------------------

  Inputs

  -------------------------------- */
}

/* --------------------------------

Global Styles

-------------------------------- */

body {
  font-family: var(--ff-primary-400);
  font-size: var(--fs-base);
}

p {
  font-size: var(--fs-base);
}

input[type='text'],
input[type='textarea'],
button {
  appearance: none;
  outline: none;
}

input {
  accent-color: var(--clr-primary-300);
}

label {
  cursor: pointer;
}

/* --------------------------------

Joshw Comeau Defaults

 -------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  isolation: isolate;
}
