@import url("../assets/inter-webfont/stylesheet.css");
@import url("../assets/spacemono-webfont/web-fonts/spacemono-main.css");
@import url("../assets/source-sans-pro-webfont/stylesheet.css");

$ff-inter-Regular: "Inter-Regular", sans-serif;
$ff-inter-Bold: "Inter-Bold", sans-serif;
$ff-inter-SemiBold: "Inter-SemiBold", sans-serif;
$ff-inter-Medium: "Inter-Medium", sans-serif;
$ff-inter-Light: "Inter-Light", sans-serif;
$ff-inter-ExtraLight: "Inter-ExtraLight", sans-serif;
$ff-inter-Thin: "Inter-Thin", sans-serif;

$ff-source_sans-Regular: "source_sans_proregular", sans-serif;
$ff-source_sans-Bold: "source_sans_probold", sans-serif;
$ff-source_sans-SemiBold: "source_sans_semibold", sans-serif;
$ff-source_sans-Light: "source_sans_prolight", sans-serif;
$ff-source_sans-ExtraLight: "source_sans_proextralight", sans-serif;

$ff-spacemono-Regular: "space_monoregular", monospace;
$ff-spacemono-Bold: "space_monobold", monospace;

$blue-400: blue;
$black: hsl(0, 0%, 29%);
$grey: hsl(219deg, 8.1%, 48.2%);
$white: hsl(0, 0%, 98%);

:root {
  --clr-neutral-100: #{$white};
  --clr-neutral-500: #{$grey};
  --clr-neutral-700: #{$black};
  --clr-primary-400: #{$blue-400};

  --ff-primary-400: #{$ff-inter-Regular};
  --ff-primary-700: #{$ff-inter-Bold};
  --ff-secondary-400: #{$ff-spacemono-Regular};
  --ff-secondary-700: #{$ff-spacemono-Bold};

  --fs-base: 16px;
  --fs-ratio: 1.25;
  --fs-100: calc(1em / (var(--fs-ratio) * var(--fs-ratio)));
  --fs-200: calc(1em / var(--fs-ratio));
  --fs-300: calc(1em * var(--fs-ratio));
  --fs-400: calc(1em * var(--fs-ratio) * var(--fs-ratio));
  --fs-500: calc(1em * var(--fs-ratio) * var(--fs-ratio) * var(--fs-ratio));
  --fs-600: calc(
    1em * var(--fs-ratio) * var(--fs-ratio) * var(--fs-ratio) * var(--fs-ratio)
  );
  --fs-700: calc(
    1em * var(--fs-ratio) * var(--fs-ratio) * var(--fs-ratio) * var(--fs-ratio) *
      var(--fs-ratio)
  );

  /* Fibonacci Sequence */
  --sp-base: 16px;
  --sp-100: calc(0.25 * var(--sp-base));
  --sp-200: calc(0.5 * var(--sp-base));
  --sp-300: calc(0.75 * var(--sp-base));
  --sp-400: calc(1.25 * var(--sp-base));
  --sp-500: calc(2 * var(--sp-base));
  --sp-600: calc(3.25 * var(--sp-base));
  --sp-700: calc(5.25 * var(--sp-base));

  --lh-body: 1.15em;
  --lh-heading: 0.95em;

  --lsp-base: 1px;
  --lsp-100: calc(var(--lsp-base) - 3.5px);
  --lsp-200: calc(var(--lsp-base) - 2.5px);
  --lsp-300: calc(var(--lsp-base) - 2px);
  --lsp-400: calc(var(--lsp-base) - 1.5px);
  --lsp-500: calc(var(--lsp-base) - 1px);
}

/*
 * JOSHW COMEAU DEFAULTS
 */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
 * CUSTOM DEFAULTS
 */

body {
  font-family: var(--ff-primary-400);
  font-size: var(--fs-base);
}

p {
  font-size: var(--fs-base);
}
