.main {
  --sp-main--top: var(--sp-400);
  --sp-sidebar-primary: var(--sp-500);

  display: grid;
  grid-template: 1fr / minmax(auto, 30%) 1fr;
  padding-inline: calc(var(--pg-pad) + var(--sp-400));
  min-height: 100vh;

  &__sidebar {
    padding-right: calc(var(--pg-pad) + var(--sp-400));
    padding-bottom: var(--pg-pad);
    border-right: solid 1px var(--clr-neutral-500);
    margin-right: var(--pg-pad);

    & > *:first-child {
      margin-top: var(--sp-main--top);
    }

    & > *:not(:first-child) {
      margin-top: var(--sp-sidebar-primary);
    }
  }

  & .previewer {
    aspect-ratio: 21cm / 29.7cm;
    width: 21cm;
    height: 29.7cm;
    padding: 2cm;
    margin-inline: auto;
    overflow-y: auto;
    box-shadow: 0 0 30px var(--clr-neutral-200);
  }

  &__controls {
    &__control-heading {
      font-size: var(--fs-500);
      margin-top: var(--sp-sidebar-primary);
      margin-bottom: var(--sp-200);
    }
  }
}
