@use 'sass:color';
@use '../../styles/layouts';
@use '../../styles/utility';

.previewer {
  --ff-heading-500: var(--ff-primary-500);
  --ff-heading-600: var(--ff-primary-600);
  --ff-heading-700: var(--ff-primary-700);
  --ff-txt-300: var(--ff-primary-300);
  --ff-txt-400: var(--ff-primary-400);
  --ff-txt-500: var(--ff-primary-500);
  --ff-txt-600: var(--ff-primary-600);
  --ff-txt-700: var(--ff-primary-700);

  --clr-main-400: #{color.to-space(utility.$primary-200, hsl)};

  --fs-txt: 11px;
  --fs-heading: 12px;
  --fs-main-heading: calc(var(--fs-900) - 2px);

  &__data {
    & * {
      font-size: var(--fs-txt);
    }
  }

  > * {
    line-height: 1.4;
  }

  &__heading {
    font-family: var(--ff-heading-600);
    font-size: var(--fs-heading);
    letter-spacing: -0.2px;
  }

  &__bold {
    font-family: var(--ff-heading-600);
  }

  &__date {
    font-family: var(--ff-txt-500);
    color: var(--clr-neutral-400);
    transform: scaleY(1.05);
  }

  &__section--intro {
    border-bottom: solid 8px;
    border-color: var(--clr-main-400);

    & span:not(&__address) {
      margin-right: var(--sp-200);
    }

    &__name {
      font-family: var(--ff-heading-700);
      font-size: var(--fs-main-heading);
      letter-spacing: -1px;
      transform: scaleY(1.1);
      line-height: 1;
    }

    &__address,
    &__phone-number,
    &__email {
      font-family: var(--ff-heading-300);
      font-size: var(--fs-txt);
      color: var(--clr-neutral-400);
    }

    &__personal-info {
      line-height: 3rem;
    }
  }

  &__section:not(&__section--intro) {
    margin-bottom: var(--sp-200);
    @include layouts.gridLayout(0, 0, 7, (2, 1), (5, 1));
  }

  &__section--career-objectives {
    margin-top: var(--sp-400);
  }

  &__section--work-experience {
    &__sub-heading {
      & :nth-child(1) {
        margin-right: var(--sp-200);
      }

      & :nth-child(2) {
        margin-inline: var(--sp-200);
      }

      & :nth-child(3) {
        margin-left: var(--sp-200);
      }
    }
  }

  & > :last-child {
    padding-bottom: 10px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
  }
}

.main__controls {
  .input-fields-container {
    &__section--date {
      margin-bottom: var(--sp-300);
    }
  }
}
