.controls {
  padding-top: var(--sp-main__content-top);

  .btn--download {
    font-size: var(--fs-300);
    padding: 0 var(--sp-400);

    * {
      padding-block: var(--sp-400);
    }

    .icon {
      box-sizing: content-box;
      width: var(--icn-size-200);
      align-self: stretch;
      border-left: 1px solid;
      border-color: inherit;
      padding-left: var(--sp-400);
      margin-left: var(--sp-500);
    }
  }
}
