.template-container {
  --input-width: var(--icn-size-300);
  --input-height: var(--input-width);
  --border-radius: 5px;

  --icn-width: calc(50 / 100 * var(--input-width));
  --icn-height: var(--icn-width);

  --clr-icon--checked: var(--clr-accent-400);
  --clr-icon--unchecked: var(--clr-neutral-400);
  --clr-border: var(--clr-accent-400);
  --clr-outline: var(--clr-accent-400);
  --bg--unchecked: var(--clr-neutral-200);
  --bg--checked: var(--clr-accent-300);

  --box-shadow: 0;

  --outline: 2px solid;
  --border: 0 solid;

  --td-border: 50ms;
  --td-outline: 50ms;

  display: flex;
  gap: var(--sp-300);

  &__templates {
    appearance: none;
    background-color: var(--bg--unchecked);
    width: var(--input-width);
    height: var(--input-height);
    cursor: pointer;
    border-radius: var(--border-radius);
    display: inline-grid;
    place-items: center;

    transition:
      border var(--td-border) ease,
      outline var(--td-outline) ease;

    &:checked {
      border: var(--border) var(--clr-border);
      outline: var(--outline) var(--clr-outline);
      background-color: var(--bg--checked);
      box-shadow: var(--box-shadow);

      &::before {
        background-color: var(--clr-icon--checked);
      }
    }

    &::before {
      content: '';
      width: var(--icn-width);
      height: var(--icn-height);
      background-color: var(--clr-icon--unchecked);
      display: block;
      mask-image: url("data: image/svg+xml, %3Csvg width='64px' height='64px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M3 15H21M3 19H15M3 7H11M3 11H11M19.4 11H16.6C16.0399 11 15.7599 11 15.546 10.891C15.3578 10.7951 15.2049 10.6422 15.109 10.454C15 10.2401 15 9.96005 15 9.4V6.6C15 6.03995 15 5.75992 15.109 5.54601C15.2049 5.35785 15.3578 5.20487 15.546 5.10899C15.7599 5 16.0399 5 16.6 5H19.4C19.9601 5 20.2401 5 20.454 5.10899C20.6422 5.20487 20.7951 5.35785 20.891 5.54601C21 5.75992 21 6.03995 21 6.6V9.4C21 9.96005 21 10.2401 20.891 10.454C20.7951 10.6422 20.6422 10.7951 20.454 10.891C20.2401 11 19.9601 11 19.4 11Z' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
      mask-size: cover;
    }
  }
}
